In [1]:
import pandas as pd
import numpy as np
import seaborn as sns  
import matplotlib.pyplot as plt

# 지점별 FAMD

## stn0 데이터 불러오기

In [2]:
df = pd.read_csv('찐결측처리데이터/stn0.csv',index_col=0)

In [3]:
df = df.iloc[:,3:]
df

,uv,band1,band2,band3,band4,band5,band6,band7,band8,band9,...,증기압(hPa),이슬점온도(°C),해면기압(hPa),전운량(10분위),중하층운량(10분위),지면온도(°C),solaraa,해발고도,풍향_cos,풍향_sin
0,0.0,0.00000,0.00000,0.00000,-0.00075,0.0000,-0.00065,268.21695,241.02138,250.86386,...,5.2,-2.1,1032.2,9.0,9.0,3.2,-75.17963,71,1.0,-4.898587e-15
1,0.0,-0.00057,0.00000,0.00119,-0.00015,-0.0003,-0.00065,264.78634,241.10364,250.78261,...,5.2,-2.1,1032.2,9.0,9.0,3.2,-76.67178,71,1.0,-4.898587e-15
2,0.0,0.00000,0.00000,-0.00030,0.00030,0.0000,-0.00065,265.59620,241.18569,250.75549,...,5.2,-2.1,1032.2,9.0,9.0,3.2,-77.94722,71,1.0,-4.898587e-15
3,0.0,-0.00057,0.00000,-0.00030,0.00030,-0.0006,-0.00065,266.50471,241.18569,250.67403,...,5.2,-2.1,1032.2,9.0,9.0,3.2,-78.93011,71,1.0,-4.898587e-15
4,0.0,-0.00113,-0.00057,-0.00119,-0.00030,-0.0003,-0.00065,265.72831,240.85620,250.37389,...,5.2,-2.1,1032.2,9.0,9.0,3.2,-79.53722,71,1.0,-4.898587e-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105259,0.0,-0.00113,0.00057,0.00000,0.00000,0.0000,0.00000,251.66283,235.64237,240.25809,...,5.5,-1.4,1031.7,9.0,9.0,4.5,-66.05597,71,1.0,-4.898587e-15
105260,0.0,0.00000,-0.00057,-0.00060,-0.00105,0.0000,0.00000,255.86199,235.93483,240.79016,...,5.5,-1.4,1031.7,9.0,9.0,4.5,-68.01080,71,1.0,-4.898587e-15
105261,0.0,-0.00057,-0.00057,0.00089,-0.00015,-0.0003,-0.00065,255.43673,236.32045,241.10571,...,5.5,-1.4,1031.7,9.0,9.0,4.5,-69.91946,71,1.0,-4.898587e-15
105262,0.0,-0.00057,-0.00057,0.00030,-0.00015,0.0000,0.00000,254.10411,236.41609,241.21030,...,5.5,-1.4,1031.7,9.0,9.0,4.5,-71.76646,71,1.0,-4.898587e-15
105263,0.0,-0.00057,0.00000,-0.00030,0.00045,-0.0006,-0.00065,252.42750,236.22450,240.89565,...,5.5,-1.4,1031.7,9.0,9.0,4.5,-73.53009,71,1.0,-4.898587e-15

## 범주형변수 타입변경

##### landtype

In [4]:
df['landtype']

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
105259    0.0
105260    0.0
105261    0.0
105262    0.0
105263    0.0
Name: landtype, Length: 105264, dtype: float64

In [5]:
df = df.astype({'landtype':'int'})

In [6]:
df.loc[df['landtype'] == 0, 'landtype'] = df.loc[df['landtype'] == 0, 'landtype'].apply(lambda x:'해안가')
df.loc[df['landtype'] == 1, 'landtype'] = df.loc[df['landtype'] == 0, 'landtype'].apply(lambda x:'산입지역')
df.loc[df['landtype'] == 2, 'landtype'] = df.loc[df['landtype'] == 0, 'landtype'].apply(lambda x:'농지')
df.loc[df['landtype'] == 3, 'landtype'] = df.loc[df['landtype'] == 0, 'landtype'].apply(lambda x:'도시')
df.loc[df['landtype'] == 4, 'landtype'] = df.loc[df['landtype'] == 0, 'landtype'].apply(lambda x:'습지')

In [7]:
df['landtype']

0         해안가
1         해안가
2         해안가
3         해안가
4         해안가
         ...
105259    해안가
105260    해안가
105261    해안가
105262    해안가
105263    해안가
Name: landtype, Length: 105264, dtype: object

##### 전운량

In [8]:
df['전운량(10분위)']

0         9.0
1         9.0
2         9.0
3         9.0
4         9.0
         ...
105259    9.0
105260    9.0
105261    9.0
105262    9.0
105263    9.0
Name: 전운량(10분위), Length: 105264, dtype: float64

In [9]:
df = df.astype({'전운량(10분위)':'int'})
df = df.astype({'전운량(10분위)':'str'})

In [10]:
df['전운량(10분위)']

0         9
1         9
2         9
3         9
4         9
         ..
105259    9
105260    9
105261    9
105262    9
105263    9
Name: 전운량(10분위), Length: 105264, dtype: object

##### 중하층운량

In [11]:
df['중하층운량(10분위)']

0         9.0
1         9.0
2         9.0
3         9.0
4         9.0
         ...
105259    9.0
105260    9.0
105261    9.0
105262    9.0
105263    9.0
Name: 중하층운량(10분위), Length: 105264, dtype: float64

In [12]:
df = df.astype({'중하층운량(10분위)':'int'})
df = df.astype({'중하층운량(10분위)':'str'})

In [13]:
df['중하층운량(10분위)']

0         9
1         9
2         9
3         9
4         9
         ..
105259    9
105260    9
105261    9
105262    9
105263    9
Name: 중하층운량(10분위), Length: 105264, dtype: object

## FAMD

In [14]:
import prince

In [15]:
famd = prince.FAMD(
    n_components=5,
    n_iter=3,
    copy=True,
    check_input=True,
    random_state=42,
    engine="sklearn",
    handle_unknown="error"  # same parameter as sklearn.preprocessing.OneHotEncoder
)
famd = famd.fit(df)

C:\Users\JAE\anaconda3\lib\site-packages\sklearn\utils\validation.py:624: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  warnings.warn(

n_components — the number of principal components to computed. You only need two if your intention is to visualize the two major components.주성분 수

n_iter — the number of iterations used for computing the SVD. 특이값분해시 반복 수

copy — Whether nor to perform the computations inplace. if False then the computations will be done inplace which can have possible side-effects on the input data

check_input — Whether to check the coherence of the inputs or not.

engine — what SVD engine to use (should be one of ['fbpca', 'sklearn'])

random_state — controls the randomness of the SVD results.

In [24]:
from prince import FAMD

famd = FAMD(n_components=10)  # 원하는 주성분 개수 설정
famd.fit(df)  # 훈련 데이터에 FAMD 적용

# 변환 매개변수 저장
famd_params = {
    'means': famd.row_coordinates(df).mean(axis=0),
    'stds': famd.row_coordinates(df).std(axis=0),
    'components': famd.column_correlations(df)
}

C:\Users\JAE\anaconda3\lib\site-packages\sklearn\utils\validation.py:624: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  warnings.warn(

TypeError: 'NotImplementedType' object is not callable

In [ ]:
famd_params

In [16]:
famd.eigenvalues_summary

          eigenvalue % of variance % of variance (cumulative)
component
0             11.237        18.42%                     18.42%
1              7.316        11.99%                     30.41%
2              4.453         7.30%                     37.72%
3              2.274         3.73%                     41.44%
4              2.125         3.48%                     44.93%

In [17]:
famd.row_coordinates(df).head()

component         0         1         2         3         4
0         -0.546338 -4.689433  1.952304  1.137740 -2.320979
1         -0.301751 -4.823347  1.921283  1.120707 -2.321630
2         -0.368769 -4.801031  1.923302  1.125970 -2.322932
3         -0.412923 -4.787538  1.923318  1.131319 -2.323800
4         -0.380987 -4.807116  1.900581  1.125898 -2.319575

In [18]:
famd.column_coordinates_

component,0,1,2,3,4
variable,,,,,
uv,7.433264e-03,4.007976e-01,5.145805e-02,7.510121e-04,1.807092e-03
band1,2.643935e-01,4.561355e-01,2.251606e-01,4.574385e-04,1.285847e-04
band2,2.807627e-01,4.359388e-01,2.193353e-01,3.508770e-04,6.748421e-05
band3,3.124075e-01,3.826729e-01,2.009116e-01,1.271113e-04,2.076084e-06
band4,2.880253e-01,4.197653e-01,2.115784e-01,9.948132e-05,2.460758e-06
band5,4.136925e-01,1.058484e-01,2.224669e-02,1.236896e-02,1.789488e-03
band6,1.143847e-01,4.649036e-01,2.554165e-01,6.444132e-03,7.450908e-05
band7,4.485164e-01,4.040070e-01,4.557313e-02,4.346698e-03,4.863799e-04
band8,5.913030e-01,5.594961e-04,6.763812e-02,4.330807e-03,5.797750e-03
band9,7.274572e-01,3.951745e-03,5.765641e-02,1.648174e-03,4.379771e-03
band10,8.448487e-01,1.675446e-02,3.052267e-02,5.457966e-04,2.427941e-03
band11,8.897403e-01,8.027916e-02,9.627186e-05,4.912697e-04,3.406549e-06
band12,8.106501e-01,1.216255e-01,6.404317e-03,9.438685e-04,6.683293e-05
band13,8.889595e-01,7.955186e-02,2.352326e-04,5.565978e-04,3.752731e-07
band14,8.967451e-01,7.164138e-02,1.138294e-03,1.442242e-04,9.800049e-06
band15,9.030039e-01,6.159696e-02,2.932078e-03,1.740392e-05,7.680366e-05
band16,8.865609e-01,6.320187e-02,1.635938e-03,4.019063e-04,5.911632e-04
sateza,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
esr,2.114832e-02,6.154088e-01,1.245435e-01,7.712643e-04,2.333935e-03
height,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
pm10,2.855889e-02,1.428693e-02,7.390317e-02,1.366482e-02,2.341075e-02
pm2.5,1.487261e-02,1.621864e-02,5.304913e-02,9.588425e-03,1.673422e-02
강수량,1.936059e-02,1.262790e-05,1.553602e-02,1.431626e-04,2.469733e-04
기온(°C),1.624283e-03,4.694180e-01,4.174939e-01,2.003872e-03,3.998029e-03
풍속(m/s),3.695727e-03,6.033947e-02,1.424434e-01,3.482508e-02,7.099313e-04
습도(%),9.134266e-02,9.605595e-02,3.425893e-01,1.684273e-03,1.437793e-02
증기압(hPa),1.886420e-02,4.048957e-01,4.855793e-01,2.991179e-04,8.598806e-03
이슬점온도(°C),1.773048e-02,4.150015e-01,5.032975e-01,3.316056e-04,8.192603e-03
해면기압(hPa),5.047238e-02,2.710017e-01,3.261264e-01,6.775675e-05,9.132125e-03
지면온도(°C),1.288513e-04,6.040817e-01,2.075892e-01,2.401326e-03,1.253620e-03
solaraa,2.335888e-02,6.325305e-01,1.147133e-01,1.059841e-03,1.911411e-03
해발고도,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
풍향_cos,5.319511e-03,4.262825e-03,7.343071e-03,4.380545e-02,1.542321e-02
풍향_sin,8.238441e-07,1.290453e-03,1.762019e-03,7.302729e-02,1.243678e-02
landtype,1.713949e-33,9.476495e-34,6.226529e-33,3.162243e-33,2.521168e-33
전운량(10분위),6.035618e-01,5.287876e-02,9.394728e-02,7.014721e-01,6.819840e-01
중하층운량(10분위),3.112311e-01,4.090346e-02,6.564540e-02,6.949624e-01,6.533179e-01

In [19]:
(
    famd.row_contributions_
    .sort_values(0, ascending=False)
    .head(5)
    .style.format('{:.3%}')
)

In [20]:
famd.column_contributions_.style.format('{:.0%}')

## stn1

In [21]:
stn1 = pd.read_csv('찐결측처리데이터/stn1.csv',index_col=0)

In [22]:
stn1 = stn1.iloc[:,3:]
stn1

,uv,band1,band2,band3,band4,band5,band6,band7,band8,band9,...,증기압(hPa),이슬점온도(°C),해면기압(hPa),전운량(10분위),중하층운량(10분위),지면온도(°C),solaraa,해발고도,풍향_cos,풍향_sin
105264,0.0,-0.00057,0.00057,0.0003,-0.00030,0.0003,0.00000,268.21695,240.43948,249.09365,...,1.2,-20.7,1028.3,0.0,0.0,-4.1,-73.20549,27,0.173648,-0.984808
105265,0.0,-0.00057,-0.00057,0.0000,-0.00045,-0.0003,0.00000,267.98025,240.27124,249.09365,...,1.9,-15.0,1028.3,0.0,0.0,-3.6,-74.12129,27,0.173648,-0.984808
105266,0.0,0.00000,0.00000,-0.0006,-0.00030,-0.0006,-0.00065,268.33436,239.84669,248.58117,...,1.9,-15.0,1028.3,0.0,0.0,-3.6,-74.78860,27,0.173648,-0.984808
105267,0.0,-0.00057,-0.00057,-0.0003,-0.00075,-0.0003,-0.00065,268.56736,239.15525,247.88728,...,1.9,-15.0,1028.3,0.0,0.0,-3.6,-75.17349,27,0.173648,-0.984808
105268,0.0,-0.00057,0.00000,-0.0003,-0.00075,-0.0006,0.00000,268.45116,238.53745,247.47674,...,1.9,-15.0,1028.3,0.0,0.0,-3.6,-75.02408,27,0.173648,-0.984808
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210523,0.0,-0.00057,-0.00057,-0.0003,-0.00045,0.0000,0.00000,264.08767,237.99797,247.15109,...,1.3,-19.6,1028.3,2.0,0.0,-2.3,-66.15471,27,0.173648,-0.984808
210524,0.0,-0.00057,-0.00057,-0.0006,0.00000,0.0000,0.00000,262.92059,237.99797,247.29945,...,1.3,-19.6,1028.3,2.0,0.0,-2.3,-67.79366,27,0.173648,-0.984808
210525,0.0,-0.00057,-0.00057,-0.0003,0.00015,0.0003,0.00000,264.22921,237.35644,246.79270,...,1.3,-19.6,1028.3,2.0,0.0,-2.3,-69.34334,27,0.173648,-0.984808
210526,0.0,-0.00057,-0.00057,0.0006,0.00060,0.0000,0.00000,263.80177,237.07735,246.55190,...,1.3,-19.6,1028.3,2.0,0.0,-2.3,-70.78127,27,0.173648,-0.984808
210527,0.0,-0.00057,-0.00057,-0.0006,0.00000,0.0000,-0.00065,263.94519,236.98376,246.61224,...,1.3,-19.6,1028.3,2.0,0.0,-2.3,-72.07968,27,0.173648,-0.984808

In [23]:
stn1 = stn1.astype({'landtype':'int'})

In [24]:
stn1 = stn1.astype({'전운량(10분위)':'int'})
stn1 = stn1.astype({'전운량(10분위)':'str'})

In [25]:
stn1 = stn1.astype({'중하층운량(10분위)':'int'})
stn1 = stn1.astype({'중하층운량(10분위)':'str'})

In [26]:
famd = prince.FAMD(
    n_components=5,
    n_iter=3,
    copy=True,
    check_input=True,
    random_state=42,
    engine="sklearn",
    handle_unknown="error"  # same parameter as sklearn.preprocessing.OneHotEncoder
)
famd = famd.fit(stn1)

C:\Users\JAE\anaconda3\lib\site-packages\sklearn\utils\validation.py:624: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  warnings.warn(

In [27]:
famd.eigenvalues_summary

          eigenvalue % of variance % of variance (cumulative)
component
0             10.334        20.26%                     20.26%
1              8.247        16.17%                     36.43%
2              3.925         7.70%                     44.13%
3              1.691         3.32%                     47.44%
4              1.627         3.19%                     50.63%

In [29]:
famd.row_coordinates(stn1).head()

component         0         1         2         3         4
105264    -1.443483 -4.629075  2.887268  0.825683 -1.602156
105265    -1.393808 -4.477786  2.614157  1.066118 -1.563180
105266    -1.375659 -4.478391  2.604895  1.061692 -1.563996
105267    -1.312828 -4.484737  2.597710  1.053347 -1.567073
105268    -1.275626 -4.484862  2.593473  1.046984 -1.569104

In [30]:
famd.column_coordinates_

component           0         1         2         3         4
variable
uv           0.031415  0.463923  0.036897  0.004652  0.002690
band1        0.143331  0.619340  0.140674  0.002045  0.000884
band2        0.153654  0.604430  0.134881  0.002504  0.000989
band3        0.155986  0.586296  0.130242  0.002726  0.000925
band4        0.104541  0.695345  0.137299  0.001135  0.000372
band5        0.374168  0.155999  0.045396  0.000300  0.000002
band6        0.011021  0.680092  0.163629  0.000024  0.000389
band7        0.509159  0.389036  0.010563  0.000057  0.000262
band8        0.640836  0.004338  0.002839  0.003124  0.000322
band9        0.791111  0.003328  0.002613  0.001506  0.000234
band10       0.895877  0.006366  0.000215  0.000760  0.000262
band11       0.925123  0.049646  0.003227  0.000018  0.000014
band12       0.778883  0.114426  0.051078  0.000588  0.001314
band13       0.920700  0.053597  0.003530  0.000019  0.000018
band14       0.930465  0.045873  0.001827  0.000030  0.000012
band15       0.941779  0.034084  0.000423  0.000026  0.000013
band16       0.924774  0.037052  0.005316  0.000226  0.000227
sateza       0.000000  0.000000  0.000000  0.000000  0.000000
esr          0.000686  0.703377  0.095954  0.004112  0.000979
height       0.000000  0.000000  0.000000  0.000000  0.000000
landtype     0.000000  0.000000  0.000000  0.000000  0.000000
pm10         0.000962  0.005263  0.030014  0.002734  0.769103
pm2.5        0.001834  0.022332  0.027842  0.000896  0.739346
강수량          0.000011  0.001821  0.012721  0.000100  0.000222
기온(°C)       0.000318  0.484240  0.322494  0.006314  0.001349
풍속(m/s)      0.033695  0.006390  0.257077  0.067783  0.009790
습도(%)        0.106201  0.030994  0.440412  0.010316  0.013111
증기압(hPa)     0.028152  0.343218  0.507821  0.013944  0.005860
이슬점온도(°C)    0.027561  0.353839  0.550151  0.012236  0.007097
해면기압(hPa)    0.010684  0.203945  0.203342  0.021356  0.007882
지면온도(°C)     0.004270  0.655892  0.124799  0.000118  0.000012
solaraa      0.001017  0.722757  0.090389  0.003191  0.000970
해발고도         0.000000  0.000000  0.000000  0.000000  0.000000
풍향_cos       0.002113  0.047227  0.027363  0.744383  0.000319
풍향_sin       0.005028  0.035067  0.034943  0.726546  0.000437
전운량(10분위)    0.626049  0.058380  0.164834  0.020731  0.025708
중하층운량(10분위)  0.252201  0.028967  0.162914  0.030583  0.035377

In [31]:
(
    famd.row_contributions_
    .sort_values(0, ascending=False)
    .head(5)
    .style.format('{:.3%}')
)

In [32]:
famd.column_contributions_.style.format('{:.0%}')