In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
file_list1 = os.listdir("강수량/강수량2020")
print ("file_list: {}".format(file_list1))

file_list: ['대전2020.csv', '목포2020.csv', '보령2020.csv', '전주2020.csv', '제주2020.csv', '청주2020.csv', '포항2020.csv']

In [3]:
file_list2 = os.listdir("강수량/강수량2021")
print ("file_list: {}".format(file_list2))

file_list: ['대전2021.csv', '목포2021.csv', '보령2021.csv', '전주2021.csv', '제주2021.csv', '청주2021.csv', '포항2021.csv']

In [4]:
n = [0]*2
df = [0]*7

for i in range(7):
    n[0] = pd.read_csv(f'강수량/강수량2020/{file_list1[i]}')
    n[1] = pd.read_csv(f'강수량/강수량2021/{file_list2[i]}')
    n[0] = n[0].iloc[:,-1]
    n[1] = n[1].iloc[:,-1]
    nn = pd.concat([n[0],n[1]])
    nn = nn.dropna(axis=0)
    df[i] = pd.DataFrame(np.repeat(nn.values, 6, axis=0))
    df[i].columns = ['강수량']

In [13]:
df[6]

        강수량
0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
...     ...
105259  0.0
105260  0.0
105261  0.0
105262  0.0
105263  0.0

[105264 rows x 1 columns]

In [6]:
name_list = ['대전강수량','목포강수량','보령강수량','전주강수량','제주강수량','청주강수량','포항강수량']

In [7]:
for i in range(7):
    df[i].to_csv(f'강수량/{name_list[i]}.csv', index=False)